$color-primary: #232E35;
$color-secondary: #656D72;
$color-white: #FFFFFF;
$color-violet: #7E74F1;
$color-grey-light: #f1f1f1;


$bg-dark:#1e1e1e;
$bg-white:#FFF;
$bg-section:#FBFBFB;
$bg-icon:#F5F3FE;
