.footer {
    padding: 88px 0;

    &-icons {
        justify-content: center;
        margin-bottom: 24px;
    }

    &-text {
        text-align: center;
        color: $color-secondary;
        font-size: 14px;
        font-weight: 500;

        span{
            width: 400px;
        }
    }
}